# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Build files
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
